<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Python-101" data-toc-modified-id="Python-101-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Python 101</a></span><ul class="toc-item"><li><span><a href="#What-is-programming?" data-toc-modified-id="What-is-programming?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>What is programming?</a></span></li><li><span><a href="#How-to-learn-programming?" data-toc-modified-id="How-to-learn-programming?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>How to learn programming?</a></span></li><li><span><a href="#What-is-Python?" data-toc-modified-id="What-is-Python?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>What is Python?</a></span></li><li><span><a href="#Python-vs-C-(Hello-world-example)" data-toc-modified-id="Python-vs-C-(Hello-world-example)-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Python vs C (Hello world example)</a></span></li><li><span><a href="#Python-Syntax---Indentation" data-toc-modified-id="Python-Syntax---Indentation-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Python Syntax - Indentation</a></span></li><li><span><a href="#Comments" data-toc-modified-id="Comments-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Comments</a></span></li><li><span><a href="#Variables" data-toc-modified-id="Variables-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Variables</a></span><ul class="toc-item"><li><span><a href="#Creating-a-variable" data-toc-modified-id="Creating-a-variable-1.7.1"><span class="toc-item-num">1.7.1&nbsp;&nbsp;</span>Creating a variable</a></span></li><li><span><a href="#Overriding-a-variable" data-toc-modified-id="Overriding-a-variable-1.7.2"><span class="toc-item-num">1.7.2&nbsp;&nbsp;</span>Overriding a variable</a></span></li><li><span><a href="#Variable-Types" data-toc-modified-id="Variable-Types-1.7.3"><span class="toc-item-num">1.7.3&nbsp;&nbsp;</span>Variable Types</a></span></li><li><span><a href="#How-to-name-a-variable" data-toc-modified-id="How-to-name-a-variable-1.7.4"><span class="toc-item-num">1.7.4&nbsp;&nbsp;</span>How to name a variable</a></span></li><li><span><a href="#Type-Casting" data-toc-modified-id="Type-Casting-1.7.5"><span class="toc-item-num">1.7.5&nbsp;&nbsp;</span>Type Casting</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-1.7.6"><span class="toc-item-num">1.7.6&nbsp;&nbsp;</span>Strings</a></span></li></ul></li><li><span><a href="#Operators" data-toc-modified-id="Operators-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Operators</a></span><ul class="toc-item"><li><span><a href="#Arithmetic-Operators" data-toc-modified-id="Arithmetic-Operators-1.8.1"><span class="toc-item-num">1.8.1&nbsp;&nbsp;</span>Arithmetic Operators</a></span></li><li><span><a href="#Assignment-Operators" data-toc-modified-id="Assignment-Operators-1.8.2"><span class="toc-item-num">1.8.2&nbsp;&nbsp;</span>Assignment Operators</a></span></li><li><span><a href="#Comparison-Operators" data-toc-modified-id="Comparison-Operators-1.8.3"><span class="toc-item-num">1.8.3&nbsp;&nbsp;</span>Comparison Operators</a></span></li><li><span><a href="#Logical-Operators" data-toc-modified-id="Logical-Operators-1.8.4"><span class="toc-item-num">1.8.4&nbsp;&nbsp;</span>Logical Operators</a></span></li><li><span><a href="#Identity-Operators" data-toc-modified-id="Identity-Operators-1.8.5"><span class="toc-item-num">1.8.5&nbsp;&nbsp;</span>Identity Operators</a></span></li><li><span><a href="#Membership-Operators" data-toc-modified-id="Membership-Operators-1.8.6"><span class="toc-item-num">1.8.6&nbsp;&nbsp;</span>Membership Operators</a></span></li></ul></li><li><span><a href="#List" data-toc-modified-id="List-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>List</a></span><ul class="toc-item"><li><span><a href="#Basic-list-operations" data-toc-modified-id="Basic-list-operations-1.9.1"><span class="toc-item-num">1.9.1&nbsp;&nbsp;</span>Basic list operations</a></span></li><li><span><a href="#Copying-a-list" data-toc-modified-id="Copying-a-list-1.9.2"><span class="toc-item-num">1.9.2&nbsp;&nbsp;</span>Copying a list</a></span></li><li><span><a href="#Lists-are-iterable" data-toc-modified-id="Lists-are-iterable-1.9.3"><span class="toc-item-num">1.9.3&nbsp;&nbsp;</span>Lists are iterable</a></span></li></ul></li><li><span><a href="#Tuple" data-toc-modified-id="Tuple-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Tuple</a></span></li><li><span><a href="#Set" data-toc-modified-id="Set-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Set</a></span></li><li><span><a href="#Dictionary" data-toc-modified-id="Dictionary-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>Dictionary</a></span></li><li><span><a href="#Python-Control-Flows" data-toc-modified-id="Python-Control-Flows-1.13"><span class="toc-item-num">1.13&nbsp;&nbsp;</span>Python Control Flows</a></span><ul class="toc-item"><li><span><a href="#if...else..." data-toc-modified-id="if...else...-1.13.1"><span class="toc-item-num">1.13.1&nbsp;&nbsp;</span>if...else...</a></span></li><li><span><a href="#while-loops" data-toc-modified-id="while-loops-1.13.2"><span class="toc-item-num">1.13.2&nbsp;&nbsp;</span>while loops</a></span></li><li><span><a href="#for-loop" data-toc-modified-id="for-loop-1.13.3"><span class="toc-item-num">1.13.3&nbsp;&nbsp;</span>for loop</a></span></li><li><span><a href="#Comprehensions" data-toc-modified-id="Comprehensions-1.13.4"><span class="toc-item-num">1.13.4&nbsp;&nbsp;</span>Comprehensions</a></span></li><li><span><a href="#Example:-Fibonacci-Series" data-toc-modified-id="Example:-Fibonacci-Series-1.13.5"><span class="toc-item-num">1.13.5&nbsp;&nbsp;</span>Example: Fibonacci Series</a></span></li></ul></li><li><span><a href="#Functions" data-toc-modified-id="Functions-1.14"><span class="toc-item-num">1.14&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><span><a href="#Function-concept" data-toc-modified-id="Function-concept-1.14.1"><span class="toc-item-num">1.14.1&nbsp;&nbsp;</span>Function concept</a></span></li><li><span><a href="#Defining-and-calling-a-function" data-toc-modified-id="Defining-and-calling-a-function-1.14.2"><span class="toc-item-num">1.14.2&nbsp;&nbsp;</span>Defining and calling a function</a></span></li><li><span><a href="#Recursion" data-toc-modified-id="Recursion-1.14.3"><span class="toc-item-num">1.14.3&nbsp;&nbsp;</span>Recursion</a></span></li><li><span><a href="#lambda-functions" data-toc-modified-id="lambda-functions-1.14.4"><span class="toc-item-num">1.14.4&nbsp;&nbsp;</span>lambda functions</a></span></li><li><span><a href="#More-on-functions" data-toc-modified-id="More-on-functions-1.14.5"><span class="toc-item-num">1.14.5&nbsp;&nbsp;</span>More on functions</a></span></li></ul></li><li><span><a href="#Classes" data-toc-modified-id="Classes-1.15"><span class="toc-item-num">1.15&nbsp;&nbsp;</span>Classes</a></span><ul class="toc-item"><li><span><a href="#Object-oriented-Programming" data-toc-modified-id="Object-oriented-Programming-1.15.1"><span class="toc-item-num">1.15.1&nbsp;&nbsp;</span>Object-oriented Programming</a></span></li><li><span><a href="#Class-definition" data-toc-modified-id="Class-definition-1.15.2"><span class="toc-item-num">1.15.2&nbsp;&nbsp;</span>Class definition</a></span></li><li><span><a href="#Inheritance" data-toc-modified-id="Inheritance-1.15.3"><span class="toc-item-num">1.15.3&nbsp;&nbsp;</span>Inheritance</a></span></li></ul></li><li><span><a href="#Iterators-and-Generators" data-toc-modified-id="Iterators-and-Generators-1.16"><span class="toc-item-num">1.16&nbsp;&nbsp;</span>Iterators and Generators</a></span><ul class="toc-item"><li><span><a href="#Iterators" data-toc-modified-id="Iterators-1.16.1"><span class="toc-item-num">1.16.1&nbsp;&nbsp;</span>Iterators</a></span></li><li><span><a href="#Generators" data-toc-modified-id="Generators-1.16.2"><span class="toc-item-num">1.16.2&nbsp;&nbsp;</span>Generators</a></span></li></ul></li><li><span><a href="#Modules" data-toc-modified-id="Modules-1.17"><span class="toc-item-num">1.17&nbsp;&nbsp;</span>Modules</a></span></li></ul></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Exercises</a></span><ul class="toc-item"><li><span><a href="#Left-Rotation" data-toc-modified-id="Left-Rotation-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Left Rotation</a></span></li></ul></li></ul></div>

# Python 101

## What is programming?

Programming is the process of taking an **algorithm** and encoding it into a notation, a **programming language**, so that it can be executed by a computer.

To simplify: Algorithm + Programming Language = Computer Program

Programming language is also a form of language, albeit between computer and human instead of between human beings themselves.

The definition of *language*: the method of human communication, either spoken or written, consisting of the use of words in a structured and conventional way.

## How to learn programming?

Practice! Practice! Practice!

Try to do as many things as possible in python.

Don't know what 123 * 456 is? Forget about your iphone/excel/google...Do it in python!

In [1]:
123 * 456

56088

In [2]:
12345 * 45678

563894910

## What is Python?

Python is an easy to learn, powerful programming language. It has efficient **high-level** data structures and a simple but effective approach to **object-oriented programming**. Python’s **elegant syntax** and **dynamic typing**, together with its **interpreted nature**, make it an ideal language for **scripting** and **rapid application development** in many areas on **most platforms**.

--Quoted from https://docs.python.org/3/tutorial/

## Python vs C (Hello world example)

/* This C program prints Hello, World! */
#include<stdio.h>

int main(void)
{ 
    printf("Hello World \n"); 
    return 0;
}

In [3]:
print('Hello World!')

Hello World!

## Python Syntax - Indentation

In [4]:
a = 1
b = 2
if a > b:
    print('a is greater than b')
elif a < b:
    print('a is less than b')
else:
    print('a is equal to b')

a is less than b

In [5]:
# This will result in an IndentationError
if a > b:
print('a is greater than b')

IndentationError: expected an indented block (<ipython-input-5-f044a195aec3>, line 3)

## Comments

In [6]:
# This will not be executed
print("'This will be executed'")

'This will be executed'

In [7]:
"""
Sometimes you can also
use multiline strings to
comment on your code
"""
print('The above string will not be executed.')

The above string will not be executed.

## Variables

Variables are containers of data values.

- There's no need to 'declare' a variable in Python before using it. 

- One can create a variable by assigning a value to it for the first time.

### Creating a variable

In [10]:
v1

NameError: name 'v1' is not defined

In [11]:
v1 = 1

In [12]:
v1

1

In [13]:
# You can assign the same value to multiple variables in one line
v2 = v3 = 2

In [14]:
v2

2

In [15]:
v3

2

### Overriding a variable

In [16]:
a, b

(1, 2)

In [17]:
# Yes, you can also assign values to multiple variables in one line.
a, b = 3, 4

In [18]:
a, b

(3, 4)

### Variable Types

In [22]:
v_int = 1
v_float = 2.1
v_complex = 3 + 5j
v_string = 'abc'
v_string2 = "def"
v_string3 = "'abc'"
v_list = [1,2,3]
v_tuple = (1,2,3)

In [23]:
type(v_int)

int

In [24]:
type(v_float)

float

In [25]:
type(v_complex)

complex

In [26]:
type(v_string)

str

In [27]:
type(v_string2)

str

In [28]:
print(v_string3)

'abc'

In [29]:
type(v_list)

list

In [30]:
type(v_tuple)

tuple

In [31]:
v_list = [1, 'a', [1,2]]

In [35]:
v_list[2][1]

2

In [36]:
v_list.pop()

[1, 2]

In [37]:
v_list

[1, 'a']

### How to name a variable

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

Rules for naming a Python variable:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores
4. Variable names are case-sensitive

### Type Casting

In [49]:
v_int_to_float = float(v_int)

In [50]:
type(v_int_to_float)

float

In [51]:
v_int_to_float

1.0

In [52]:
v_float_to_string = str(v_float)

In [53]:
type(v_float_to_string)

str

In [54]:
v_float_to_string

'2.1'

In [55]:
v_float_to_string[2]

'1'

In [56]:
1 + v_float_to_string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Strings

// Strings in C is an array of char type, each char is assigned an address in computer memory

char str[6] = {'S','t','r','i','n','g','\0'};

In python, string definition is much easier

In [57]:
s1 = 'hello'

In [58]:
print(s1)

hello

In [59]:
s2 = """This
is
a
multiline
string"""

In [60]:
print(s2)

This
is
a
multiline
string

As in C, strings in python are also arrays (although you don't have to declare them)

In [61]:
s1[0]

'h'

In [62]:
s1[1:3]

'el'

Python strings are also objects. (In fact, all variables are objects in python.)
Objects have 'methods' that you can call.

In [63]:
s3 = '   String With Spaces  '

In [64]:
s3.strip() # strip removes extra white spaces from beginning or end.

'String With Spaces'

In [66]:
len(s3) # the len() function returns the length of the string, i.e. number of characters in a string

23

In [67]:
s3.__len__() # what it actually does is to call the built-in __len__ method of string

23

In [69]:
s3.lower() # return the string in lower cases

'   string with spaces  '

In [70]:
s3.upper() # return the string in upper cases

'   STRING WITH SPACES  '

In [71]:
s3.split() # split a string into words (substrings)

['String', 'With', 'Spaces']

In [73]:
s4 = 'String, delimited by, comma'

In [74]:
s4.split(sep=',')

['String', ' delimited by', ' comma']

In [75]:
s4.split(sep=' ')

['String,', 'delimited', 'by,', 'comma']

In [76]:
s3 + s4 # strings can be 'added'/concatenated

'   String With Spaces  String, delimited by, comma'

In [79]:
name1 = 'Jack'
name2 = 'Jo'

'I am {} and she is {}.'.format(name1, name2)

'I am Jack and she is Jo.'

In [83]:
'I am %s and she is %s'%(name1, name2) # this is old format, but is still usable in python3

'I am Jack and she is Jo'

In [86]:
name = 'Jack'
money = 123.4

s5 = 'My name is {name}, and I have {money:.2f} in my pocket.'
s5.format(name=name, money=money)

'My name is Jack, and I have 123.40 in my pocket.'

In [87]:
s6 = 'String Testing   '

In [88]:
s6.upper().strip().split()

['STRING', 'TESTING']

## Operators

### Arithmetic Operators

In [99]:
1 + 2

3

In [100]:
1 - 2

-1

In [101]:
1 * 2

2

In [104]:
1 / 2

0.5

In [105]:
10 % 3 # modulus

1

In [106]:
2 ** 4 # note: it's not 2^4, which has a different meaning

16

The operator ^ is for bit-wise xor: 2 is 010 in binary system, and 4 is 100 in binary system. 

Bit-wise xor of 010 and 100 returns 110, which is 6 in decimal system.

In [107]:
2^4

6

In [103]:
3 // 2 # floor division

1

Note that in python2, / was used for floor division so 3/2=1 instead of 1.5.
To make sure you get the correct result, it's prefered to write it as 3./2. = 1.5

In [108]:
3. / 2.

1.5

'>>' and '<<' are bit wise operators. 3 is 011 in binary system, moving everything one place to the right yields 001, which is 1 in decimal system. Moving every bit one place to the left will give you 110, which is 6 in decimal system.

In [109]:
3 >> 1

1

In [110]:
3 << 1

6

In [111]:
3 & 2 # 110(binary) & 010(binary) = 010(binary)

2

In [115]:
3 | 2 # 110(binary) | 010(binary) = 110(binary)

3

### Assignment Operators

In [116]:
x = 1

In [117]:
x = x + 2

In [118]:
x

3

In [119]:
x += 2

In [120]:
x

5

In [121]:
x -= 3

In [122]:
x

2

In [123]:
x %= 5

In [124]:
x

2

In [125]:
x //= 3

In [126]:
x

0

### Comparison Operators

In [127]:
x = 1
y = 2

In [128]:
x == y

False

In [129]:
x > y

False

In [130]:
x < y

True

In [131]:
x >= y

False

In [132]:
x <= y

True

In [133]:
x != y

True

In [134]:
type(True)

bool

### Logical Operators

In [135]:
(2>1) and (3>4)

False

In [136]:
(2>1) or (3>4)

True

In [137]:
not (3>4)

True

### Identity Operators

In [138]:
1 is 1

True

In [139]:
1 is 2

False

In [140]:
1 is not 2

True

In [151]:
l = [1,2,3]
l1 = [1,2,3]

In [152]:
l == l1

True

In [153]:
l is l1

False

### Membership Operators

In [144]:
l = [1,2,3]

In [145]:
1 in l

True

In [146]:
4 in l

False

In [147]:
5 not in l

True

## List

There are 4 built-in collection types in python (more available in packages).

1. List: ordered and changeable, allows duplicate members.

2. Tuple: ordered and unchangeable, allows duplicate members.

3. Set: unordered and unindexed, no duplicate members.

4. Dictionary: unordered, changeable and indexed, with no duplicate members.

### Basic list operations

In [157]:
colors = ['red', 'blu', 'yellow']

In [158]:
colors_ = list(('red','blue','yellow'))

In [159]:
colors

['red', 'blu', 'yellow']

In [160]:
colors_

['red', 'blue', 'yellow']

In [161]:
colors[0]

'red'

In [162]:
colors[-1]

'yellow'

In [163]:
colors[-2]

'blu'

In [164]:
colors[1] = 'blue'

In [165]:
colors

['red', 'blue', 'yellow']

In [166]:
len(colors)

3

In [167]:
colors.append('black')

In [168]:
colors

['red', 'blue', 'yellow', 'black']

In [169]:
colors.remove('black')

In [170]:
colors

['red', 'blue', 'yellow']

In [171]:
colors.pop()

'yellow'

In [172]:
colors

['red', 'blue']

In [173]:
del colors[0]

In [174]:
colors

['blue']

In [175]:
colors.clear()

In [176]:
colors

[]

In [177]:
if not colors:
    print('empty')

empty

In [178]:
colors.append('red')

In [180]:
colors

['red']

In [179]:
colors1 = ['r','g','b']

In [181]:
colors.extend(colors1)

In [182]:
colors

['red', 'r', 'g', 'b']

In [183]:
colors.reverse()

In [184]:
colors

['b', 'g', 'r', 'red']

In [185]:
numbers = [1,3,4,2]

In [186]:
numbers.sort()

In [187]:
numbers

[1, 2, 3, 4]

In [188]:
numbers.sort(reverse=True)

In [189]:
numbers

[4, 3, 2, 1]

In [190]:
numbers.insert(3,10)

In [191]:
numbers

[4, 3, 2, 10, 1]

In [194]:
if not colors:
    print('empty')

### Copying a list

In [195]:
l1 = [1,2,3]
l2 = l1

In [196]:
l2

[1, 2, 3]

In [197]:
l2.append(4)

In [198]:
l2

[1, 2, 3, 4]

In [199]:
l1

[1, 2, 3, 4]

The reason is that when a list is defined, it's actually creating a pointer to a memory address.

l2 = l1 is simply copying the address (or creating a reference to l1), and thus any modification to l2 will also impact l1.

In [200]:
l3 = l1.copy()

In [201]:
l3

[1, 2, 3, 4]

In [202]:
l3.remove(3)

In [203]:
l3

[1, 2, 4]

In [204]:
l1

[1, 2, 3, 4]

In [205]:
l1.extend([5,6,7,8])

In [206]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [207]:
l3

[1, 2, 4]

### Lists are iterable

In [208]:
for i in l1:
    print(i**2)

1
4
9
16
25
36
49
64

In [214]:
%%time

l_new = []
for i in range(1000):
    l_new.append(i**2)

CPU times: user 426 µs, sys: 1e+03 ns, total: 427 µs
Wall time: 430 µs

In [210]:
l_new

[1, 4, 9, 16, 25, 36, 49, 64]

In [216]:
%%time

l_new1 = [i**2 for i in range(1000)] # list comprehension

CPU times: user 315 µs, sys: 1 µs, total: 316 µs
Wall time: 320 µs

## Tuple

In [219]:
t1 = (1,2,3)

In [220]:
t1

(1, 2, 3)

In [221]:
len(t1)

3

In [222]:
t1[0]

1

In [223]:
t1[0] = 10 # this will raise an error

TypeError: 'tuple' object does not support item assignment

In [224]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [225]:
t1.count(1)

1

In [226]:
t1.index(1)

0

In [227]:
# tuples are also iterable
for i in t1:
    print(i)

1
2
3

In [229]:
tuple(i**2 for i in t1)

(1, 4, 9)

## Set

In [230]:
set1 = {'red', 'blue', 'yellow'}

In [231]:
set2 = {'red', 'yellow', 'blue'}

In [232]:
set1 == set2

True

In [233]:
set1 # not in the order when we defined it

{'blue', 'red', 'yellow'}

In [234]:
set2 # not in the order when we defined it

{'blue', 'red', 'yellow'}

In [235]:
set1.add('black')

In [236]:
set1

{'black', 'blue', 'red', 'yellow'}

In [237]:
set1.update({'orange', 'purple'})

In [238]:
set1

{'black', 'blue', 'orange', 'purple', 'red', 'yellow'}

In [239]:
set1.remove('black')

In [240]:
len(set1)

5

In [241]:
set1.discard('blue')

In [242]:
set1

{'orange', 'purple', 'red', 'yellow'}

In [243]:
set1.remove('a') # this will throw an error

KeyError: 'a'

In [244]:
set1.discard('a') # this will not throw an error if 'a' is not in set1

In [251]:
elem1 = set1.pop() # this will remove and return an arbitrary element

In [252]:
elem1

'yellow'

In [253]:
set1

{'orange', 'purple', 'red'}

In [254]:
setA = {1,2,3}
setB = {3,4,5}

In [255]:
setA - setB

{1, 2}

In [256]:
setA.union(setB)

{1, 2, 3, 4, 5}

In [257]:
setA.difference(setB)

{1, 2}

In [258]:
setA.intersection(setB)

{3}

In [259]:
# sets are iterable, but the order is random
for i in setA:
    print(i)

1
2
3

## Dictionary

In [261]:
d1 = {'name': 'XYZ',
      'age': 20,
     }

In [262]:
d1

{'name': 'XYZ', 'age': 20}

In [263]:
d1['name']

'XYZ'

In [264]:
d1.get('name')

'XYZ'

In [265]:
d1.get('school')

In [273]:
d1.get('school', 'N/A')

'N/A'

In [267]:
d1['school']

KeyError: 'school'

In [270]:
d1['age'] = 21

In [271]:
d1

{'name': 'XYZ', 'age': 21}

In [274]:
'age' in d1

True

In [275]:
'school' in d1

False

In [276]:
len(d1)

2

In [277]:
d1.keys()

dict_keys(['name', 'age'])

In [278]:
d1.values()

dict_values(['XYZ', 21])

In [279]:
d1['school'] = 'Columbia'

In [280]:
d1

{'name': 'XYZ', 'age': 21, 'school': 'Columbia'}

In [281]:
del d1['school']

In [282]:
d1

{'name': 'XYZ', 'age': 21}

**NOTE:** Similar to lists, dictionaries are also 'references' to memory addresses. So you need to use the copy() method to make a copy of a dictionary.

In [283]:
d2 = d1

In [284]:
d2['age'] = 22

In [285]:
d1, d2

({'name': 'XYZ', 'age': 22}, {'name': 'XYZ', 'age': 22})

In [286]:
d3 = d1.copy()

In [287]:
d3['age'] = 24

In [288]:
d1, d3

({'name': 'XYZ', 'age': 22}, {'name': 'XYZ', 'age': 24})

In [289]:
list(d1.items())

[('name', 'XYZ'), ('age', 22)]

In [290]:
# dictionaries are iterable too
for key, value in d1.items():
    print('My {key} is {value}.'.format(key=key, value=value))

My name is XYZ.
My age is 22.

In [291]:
for key in d1.keys():
    print(d1[key])

XYZ
22

In [292]:
for key in d1.keys():
    print(key in d1)

True
True

In [293]:
d4 = dict(name='ABC', age=18) # dict constructor

In [294]:
d4

{'name': 'ABC', 'age': 18}

In [295]:
{1: 'apple', 2: 'orange'}

{1: 'apple', 2: 'orange'}

In [297]:
{(1,2): 'apple', 2: 'orange'}

{(1, 2): 'apple', 2: 'orange'}

## Python Control Flows

### if...else...

if <condition1>:
    <do something1>
elif <condition2>:
    <do something2>
elif <condition3>:
...
...
else:
    <do something eventually>

In [298]:
a, b

(3, 4)

In [299]:
if a > b:
    print('a is greater than b')
elif a < b:
    print('a is less than b')
else:
    print('a is equal to b')

a is less than b

In [300]:
if a < b: print('a is less than b')

a is less than b

In [301]:
print('a is greater than b') if a > b else print('a is no greater than b')

a is no greater than b

### while loops

<initialize condition>

while <condition>:
    <do something>
    
    if <break condition>:
        break
    
    if <continue condition>:
        continue
    
    <update condition>

In [302]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [303]:
i = 1
while i <= 5:
    print(i)
    if i == 3:
        break # the program will exit the while loop
    i += 1

1
2
3

In [304]:
i = 1
while i <= 5:
    if i == 3:
        i += 1
        continue # the program will skip the rest in the loop and go to the beginning
    print(i)
    i += 1

1
2
4
5

### for loop

A for loop can iterate over a sequence (list, tuple, set, dictionary, or anything iterable, i.e. that has an '__iter__' method).

In [306]:
for i in l:
    print(i**3)

1
8
27

In [307]:
for ch in 'abcdef':
    print(ch.upper())

A
B
C
D
E
F

The break and continue clauses can be used in for loops as well.

In [308]:
for i in l:
    if i==2: break
    print(i**3)

1

In [309]:
for i in l:
    if i==2: continue
    print(i**3)

1
27

In [310]:
# While not used very often, an 'else' clause can be used at the end of a for loop
for i in l:
    print(i**3)
else:
    print('done')

1
8
27
done

In [311]:
l1 = [10,20,30]

In [312]:
# loops can be nested
for i in l:
    for j in l1:
        print(i+j)

11
21
31
12
22
32
13
23
33

range() is a useful tool in python - it returns an 'iterator'.

In [313]:
range(10) # defaults to start from 0, and end at 9 (not 10!)

range(0, 10)

In [315]:
range(2,10)

range(2, 10)

In [316]:
range(2, 10, 2) # the third argument is for step size - default to be 1

range(2, 10, 2)

In [317]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [318]:
for i in range(2, 10):
    print(i)

2
3
4
5
6
7
8
9

In [319]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [320]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### Comprehensions

List Comprehensions, Tuple Comprehensionsm, Dictionary Comprehensions are just easier ways to construct collections with the help of iterators.

In [321]:
l = []
for i in range(10):
    l.append(i**2)
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [322]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [323]:
tuple(i**2 for i in range(5))

(0, 1, 4, 9, 16)

In [324]:
{i: i**2 for i in range(10) if i % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

### Example: Fibonacci Series

The Fibonacci numbers, commonly denoted $F_n$ form a sequence, called the Fibonacci sequence, such that each number is the sum of the two preceding ones, starting from 0 and 1. That is,

$F_0 = 1, F_1 = 1,$

$F_n = F_{n-1} + F_{n-2},$ 

for $n>1$.

How to generate the first 10 Fibonacci numbers?

In [325]:
# Using while loop
a, b = 1, 1
i = 1
print(a)
while i < 10:
    b, a = a, a + b
    print(b)
    i += 1

1
1
2
3
5
8
13
21
34
55

In [326]:
%%time

# Using for loop
a, b = 1, 1
print(a)
for _ in range(9):
    b, a = a, a + b
    #print(b)
print(b)

1
55
CPU times: user 197 µs, sys: 72 µs, total: 269 µs
Wall time: 255 µs

## Functions

### Function concept

What is a function?

- A block of code which only runs when it is called.

- You can pass data, known as arguments or parameters, into a function.

- A function can return data as a result. (It can also return nothing.)

In [329]:
# print is a function that prints out the parameter passed in
res = print('some random parameter')

some random parameter

In [330]:
res is None # res is None because print() returns nothing

True

In [331]:
# len is a function that returns the length of an list, dict, etc.
res = len([1,2,3])

In [332]:
res

3

### Defining and calling a function

The **def** key word is used to tell python that a function is to be defined.

In [333]:
def print_with_exclamation(x):
    print(str(x) + '!')

In [334]:
type(print_with_exclamation)

function

To **call** (i.e. run) a function, use the function name with necessary parameters in parenthesis.

In [335]:
print_with_exclamation('hello')

hello!

In [336]:
print_with_exclamation('sdfasdfasdf')

sdfasdfasdf!

In [337]:
print_with_exclamation() # there will be an error if the required arguments are not passed in

TypeError: print_with_exclamation() missing 1 required positional argument: 'x'

In [338]:
print_with_exclamation(1)

1!

In [339]:
def print_with_exclamation_2(x=''):
    print(x + '!')

In [342]:
print_with_exclamation_2() # if no argument is passed, the default value for x, i.e. '', will be used

!

In [343]:
def print_a_list_with_caps(list_of_items):
    for i in list_of_items:
        print(i.upper())

In [344]:
print_a_list_with_caps(['red', 'yellow', 'green'])

RED
YELLOW
GREEN

Let's say, there's a function $f(x) = x^2 + 2$ that you want to evaluate

In [345]:
def f(x):
    return x**2 + 2

In [346]:
f(10)

102

In [349]:
[f(i) for i in range(10)]

[2, 3, 6, 11, 18, 27, 38, 51, 66, 83]

Now let's try to get the 100th number of the Fibonacci Series

In [350]:
def fibonacci(n):
    a, b = 1, 1
    for _ in range(n-1):
        b, a = a, a + b
    return b

In [351]:
fibonacci(10)

55

In [357]:
%%time

fibonacci(10)

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 7.87 µs

55

### Recursion

A function can call itself within its definition.

In [355]:
# This is a more intuitive definition of the fibonacci series
def fibonacci_recursion(n):
    if n == 1 or n == 2:
        return 1
    else:
        return fibonacci_recursion(n-1) + fibonacci_recursion(n-2)

In [356]:
%%time

fibonacci_recursion(10)

CPU times: user 23 µs, sys: 1 µs, total: 24 µs
Wall time: 26 µs

55

**Why slower?**

### lambda functions

Small anonymous functions can be created with the **lambda** keyword. 

- Lambda functions can be used wherever function objects are required. 
- Syntactically restricted to a **single expression**. 
- Otherwise they're pretty much the same as a normal function

In [358]:
def f1(a,b):
    if a * b > 0:
        return a + b
    else:
        return a - b

In [359]:
x = lambda a, b: a + b if a*b>0 else a-b

In [361]:
x(1, 2)

3

In [363]:
f1(1,2)

3

In [364]:
x(1,-2)

3

In [365]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [366]:
pairs.sort(key=lambda x: x[0])
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [367]:
pairs.sort(key=lambda x: x[1], reverse=True) # this would sort the pairs in alphabetical order
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [368]:
def key_fun(x):
    return x[1]

In [369]:
pairs.sort(key=key_fun, reverse=True) # this would sort the pairs in alphabetical order
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [370]:
import pandas as pd

In [373]:
df = pd.DataFrame({'a':range(2,10,2)})

In [374]:
df

   a
0  2
1  4
2  6
3  8

In [375]:
df.apply(lambda x: x['a']**2+1, axis=1)

0     5
1    17
2    37
3    65
dtype: int64

In [376]:
df.apply(f, axis=1)

    a
0   6
1  18
2  38
3  66

### More on functions

In [377]:
def f(*args, **kwargs):
    #args are passed in as tuples
    print(args)
    #kwargs are passed in as dictionaries
    print(kwargs)

In [378]:
f(1, 2, a=10, b=20)

(1, 2)
{'a': 10, 'b': 20}

In [379]:
def multiplier(a, b, *args, c=3, **kwargs):
    res = a * b * c
    for arg in args:
        res *= arg
    for key in kwargs:
        res *= kwargs[key]
    return res

In [380]:
multiplier(1, 2, 10, c=6, d=4, e=5)

2400

One needs to be careful when using list (in fact, all mutable objects) as a default value of an argument. 

Default arguments are evaluated only once.

In [381]:
def f(a, l=[]):
    l.append(a)
    return l

In [382]:
f(1)

[1]

In [383]:
f(2) # this is because the default value is still the reference to the old list.

[1, 2]

In [384]:
# the correct way
def f(a, l=None):
    if l is None:
        l = []
    l.append(a)
    return l

In [385]:
f(1)

[1]

In [386]:
f(2)

[2]

Doc-strings can be used to explain what a function is doing, what to put in as arguments, and what's expected to be returned.

In [389]:
def f(a, b):
    """Calculating the sum of parameters plus 10.
       args:
       - a: input1
       - b: input2
       
       return:
        the sum of a and b and 10
    """
    return a + b + 10

In [390]:
print(f.__doc__)

Calculating the sum of parameters plus 10.
       args:
       - a: input1
       - b: input2

       return:
        the sum of a and b and 10

In [391]:
multiplier.__doc__

## Classes

### Object-oriented Programming

Python is an object oriented programming (OOP) language.

Almost everything in Python is an **object**, with its **properties**/**attributes** and **methods**.

A **Class** is like an object constructor, or a "blueprint" for creating objects.

There are four major benefits to object-oriented programming:

- **Encapsulation:** in OOP, you bundle code into a single unit where you can determine the scope of each piece of data.
- **Abstraction:** by using classes, you are able to generalize your object types, simplifying your program.
- **Inheritance:** because a class can inherit attributes and behaviors from another class, you are able to reuse more code.
- **Polymorphism:** one class can be used to create many objects, all from the same flexible piece of code.

### Class definition

In [ ]:
# Defining a class is easy

class MyClass:
    x = 1 # x is a property of MyClass

In [ ]:
c1 = MyClass() # c1 is an instance of MyClass

In [ ]:
type(c1)

In [ ]:
isinstance(c1, MyClass)

In [ ]:
isinstance(1, int)

In [ ]:
isinstance(1.1, int)

In [ ]:
c1.x # Access the property 'x' using '.'

In [ ]:
c1.x = 2

In [ ]:
c1.x

In [ ]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def introduce(self):
        print('My name is {}. I am {} years old.'.format(self.name, self.age))

In [ ]:
john = Person('John', '22')
jack = Person('Jack', '23')

In [ ]:
john.introduce()

In [ ]:
jack.introduce()

### Inheritance

In [ ]:
class Superman(Person):
    def __init__(self, name, age, flying_height):
        super(Superman, self).__init__(name, age)
        self.flying_height = flying_height
        
    def superman_power(self):
        print('I can fly {} meters high.'.format(self.flying_height))

In [ ]:
clark = Superman('Clark', 1000, 10000)

In [ ]:
clark.introduce()

In [ ]:
clark.superman_power()

In [ ]:
class Superwoman(Person):
    def __init__(self, name, age, swimming_depth):
        super(Superwoman, self).__init__(name, age)
        self.swimming_depth = swimming_depth
        
    def superwoman_power(self):
        print('I can swim {} meters beneath the surface of the ocean.'.format(self.swimming_depth))

In [ ]:
lois = Superwoman('Lois', 30, 20000)

In [ ]:
lois.introduce()

In [ ]:
lois.superwoman_power()

In [ ]:
# multiple inheritance

class Superbaby(Superman, Superwoman):
    def __init__(self, name, age, flying_height, swimming_depth):
        Person.__init__(self, name, age)
        self.flying_height = flying_height
        self.swimming_depth = swimming_depth
        
    def introduce(self):
        print('My name is {}. I am {} years old. :)'.format(self.name, self.age))

In [ ]:
baby = Superbaby('baby', '1', 1000, 2000)

In [ ]:
baby.introduce()

In [ ]:
baby.superman_power()

In [ ]:
baby.superwoman_power()

In [ ]:
Superbaby.mro() # Method Resolution Order

## Iterators and Generators

An iterator is an object that contains a countable number of values.

- It can be iterated upon, meaning that you can traverse through all the values.

- Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods \_\_iter\_\_() and \_\_next\_\_().

### Iterators

In [ ]:
l = [1,2,3,4,5]

Lists, tuples, dictionaries are **iterable** objects that has an **iter()** method

In [ ]:
for i in l.__iter__(): 
    print(i)

In [ ]:
for i in iter(l):
    print(i)

The for loop actually creates an iterator object and executes the **next()** method for each loop.

In [ ]:
for i in l: # this is essentially doing for i in iter(l), which is essentially doing for i in l.__iter__()
    print(i)

In [ ]:
l.__iter__()

In [ ]:
iter(l)

In [ ]:
it1 = iter(l)

In [ ]:
next(it1)

In [ ]:
next(it1)

In [ ]:
it1.__next__()

In [ ]:
it1.__next__()

In [ ]:
next(it1)

In [ ]:
next(it1)

### Generators

Generators are tools for creating iterators.

In [ ]:
def even(x):
    while(x != 0):
        if x % 2 == 0:
            yield x
        x -= 1

In [ ]:
for i in even(10):
    print(i)

In [ ]:
type(even)

In [ ]:
type(even(10))

In [ ]:
import collections

In [ ]:
isinstance(even(10), collections.Iterator) # a generator is also an iterator

## Modules

Modules are files with .py extensions that saves functions, classes, etc. to be imported in the future.

Packages are folders containing modules, which can also be imported. (We can talk about it later.)

Popular modules/packages include **datetime**, **numpy**, **pandas**.

In [ ]:
import importlib

In [ ]:
importlib.reload(sample)

In [ ]:
import sample

In [ ]:
sample.sample_func()

In [ ]:
sample.sample_func2()

In [ ]:
sample.even(10)

In [ ]:
from sample import sample_func

In [ ]:
sample_func()

In [ ]:
from sample import _this_is_private

In [ ]:
_this_is_private(1)

In [ ]:
import sys

In [ ]:
sys.path

In [ ]:
import sample_package

In [ ]:
importlib.reload(sample_package)

In [ ]:
from sample_package import sample_module_in_package

In [ ]:
sample_module_in_package.hello_world()

Sometimes you would see .pyc files in "pycache" folders. These are **compiled** version of modules.

# Exercises

## Left Rotation

A left rotation on an array of size n shifts each of the array's elements 1 unit to the left. For example, if 2 left rotations are performed on array [1,2,3,4,5], then the array would become [3,4,5,1,2].

Given an array of n integers and a number d, perform d left rotations on the array. Then print the updated array as a single line of space-separated integers.

**Sample input**

'1 2 3 4 5' (string)

**Sample output**

'5 1 2 3 4' (string)

In [ ]:
def left_rotation(input_string, n_rotation=1):
    input_list = [int(s) for s in input_string.split()]
    n_rotation = n_rotation % len(input_list)
    output_list = input_list[-n_rotation-1:] + input_list[:-n_rotation-1]
    output_string = ' '.join(str(i) for i in output_list)
    return output_string

In [ ]:
left_rotation('1 2 3 4 5', 2)

In [ ]:
left_rotation('1 2 3 4 5', 1)